#container
{
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:11px;
}
#header
{
	height:150px;
	background-coloir:#CCC;
}
#menu
{
	height:60px;
	background-color:#666;
}
#sidebar
{
	width:150px;
	height:400px;
float:left;
	background-color:#000;
	}
#mainbody
	{
	width:650px;
	height:400px;
	background-color:#03C;	
	float:right;
	}
#footer
{
	height:100px;
	margin:bottom:21px;
background-color:#03C;	
clear:both;	
}
